.Header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    background-color: #363739;
    color: #e2e2e2;
    margin: 0.5rem;

    @media screen and (min-width: 1200px) {
        margin: 0;
        padding: 0.5rem 1.5rem;
        background: none;
        gap: 10rem;
        border-radius: 0;
        border-block-end: 1px solid #525356;
    }

}