.Logo {
    font-size: 1.25em;

    .Logo__logo {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        .hamburger-btn {
            display: none;
        }

        .Logo__logo {
            display: initial;
            font-size: 1.5em;
            font-weight: 500;
        }
    }

}